<section class="min-about" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading" style="color:white">Me.</h2>
            <hr class="black">
            <p class="text-faded">Hi, my name is Keenan. I am a ruby on rails developer, car enthusiast, musician, and patriot. I am a big fan of Jason Mraz, I play on Taylor Guitars and Getzen Trombones. I drive a Jeep, and I am addicted to writing code. I have been writing code now for a just three years. In that time I graduated from Dev Boot-camp in San Francisco, I had an internship in Manila for a few months, and I got to work at Sabre in Dallas Texas. Now I am back on the market looking for my next big career opportunity! </p>
          </div>
      </div>
  </div>
</section>