<section id="min-contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Lets Chat!</h2>
              <hr class="white">
              <p>Feel free to contact me however, whenever! I am always looking to make new friends. And if I can help you with your project, please let me know I would love to help.</p>
          </div>
          <div class="col-lg-3 col-lg-offset-0 text-center">
            <a href="#">
              <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s" style="color:green"></i>
              <p id="phoneNumber" style="color:white">(832) 270-5910</p>
            </a>
          </div>
          <div class="col-lg-3 col-lg-offset-0 text-center">
            <a href="https://www.facebook.com/keenan.sturtevant">
              <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".2s" style="color:#3B5998"></i>
              <p id="facebookLink" style="color:white">Facebook</p></a>
          </div>
          <div class="col-lg-3 col-lg-offset-0 text-center">
            <a href="https://github.com/Keenan144">
              <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".3s" style="color:black"></i>
              <p id="githubLink" style="color:white">GitHub</p>
            </a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="mailto:keenansturtevant@gmail.com">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".4s" style="color:#D50F25"></i>
              <p id="emailAddress" style="color:white">keenansturtevant@gmail.com</p></a>
          </div>
      </div>
  </div>
</section>