<aside class="bg-dark">
  <div class="container text-center">
      <div class="call-to-action">
          <h2>Feel Free to call, text, or email me!</h2>
          <a href="#" class="btn btn-default btn-xl wow tada">My Resume</a>
      </div>
  </div>
</aside>