<aside class="bg-dark">
  <div class="container text-center">
      <div class="call-to-action">
          <h2>I am currently looking for work, contact me if you have an open position!</h2>
          <a target="_blank" href="/resume" class="btn btn-default btn-xl wow tada">My Resume</a>
      </div>
  </div>
</aside>
