<section class="no-padding" id="min-portfolio">
  <div class="container-fluid">
    <br><br>
    <h2 class="section-heading" align="center" style="color:white">My Creations</h2>
    <hr class="light">
      <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="https://github.com/Keenan144/EZTracker-rails" class="portfolio-box">
                <img src="img/portfolio/currentProjects/eztracker.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Ruby + Cordova
                        </div>
                        <div class="project-name">
                            EZTracker
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="https://github.com/Keenan144/SpaceElite" class="portfolio-box">
                <img src="img/portfolio/cometfall.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Swift 3
                        </div>
                        <div class="project-name">
                            CometFall
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="https://mocktripbuilder.herokuapp.com/" class="portfolio-box">
                <img src="img/portfolio/currentProjects/mocktripbuilder.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Ruby on Rails
                        </div>
                        <div class="project-name">
                            Mock Trip Builder
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="http://zammysgfzone.herokuapp.com/" class="portfolio-box">
                <img src="img/portfolio/zammyszone.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Ruby on Rails
                        </div>
                        <div class="project-name">
                            ZammysGFZone
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="https://github.com/Keenan144/ChronosKit" class="portfolio-box">
                <img src="img/portfolio/chronoskit.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Javascript
                        </div>
                        <div class="project-name">
                            ChronosKit
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a target="_blank" href="https://github.com/Keenan144/IVTServer" class="portfolio-box">
                <img src="img/portfolio/currentProjects/ivtserver.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Ruby on Rails
                        </div>
                        <div class="project-name">
                            IVTServer
                        </div>
                    </div>
                </div>
            </a>
        </div>
      </div>
  </div>
</section>