<div>
    <a target="_blank" href="https://github.com/Keenan144/ChronosKit" class="portfolio-box">
        <img src="img/portfolio/chronoskit.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Javascript
                </div>
                <div class="project-name">
                    ChronosKit
                </div>
                <div class="text-faded">
                    <p style="color:black">
                        This is a rails app for generating bar-codes, and storing them in a data base. Feel free to clone this project and use it for yourself! 
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>