<div>
    <a target="_blank" href="http://zammysgfzone.herokuapp.com/" class="portfolio-box">
        <img src="img/portfolio/zammyszone.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Ruby on Rails
                </div>
                <div class="project-name">
                    ZammysGFZone
                </div>
                <div class="project-text text-faded">
                    <p style="color:black">
                        ZammysGFZone is a Rails App that hosts homemade gluten free alternatives to delicious glutenous foods. 
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>