<div>
    <div class="project-name">
        Cards Against Humanity
    </div>
    <a target="_blank" href="https://github.com/Keenan144/ChronosKit" class="portfolio-box">
        <img src="img/portfolio/currentProjects/blackCodeLQblue.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Javascript
                </div>
                <div class="text-faded">
                    <p style="color:black">
                      A recreation of the popular game, Cards Against Humanity. This is not intended to be anything more than a Javascript exercise. I do not own any rights to Cards Against Humanity. 
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>