<div>
    <div class="project-name">
        FunWelcome
    </div>
    <a target="_blank" href="#" class="portfolio-box">
        <img src="img/portfolio/currentProjects/blackCodeLQwhite.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    launchdaemons
                </div>
                <div class="text-faded">
                    <p style="color:black">
                       This is an attempt at writing launchdaemons, the goal is to have the computer perform some custom actions for me upon start up.
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>