<div>
    <div class="project-name">
        HTML Cheater
    </div>
    <a target="_blank" href="https://github.com/Keenan144" class="portfolio-box">
        <img src="img/portfolio/currentProjects/blackCodeLQwhite.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    HTML/ CSS
                </div>
                <div class="text-faded">
                    <p style="color:black">
                       This will be an index of useful hints, tricks, and code examples for anyone writing HTML or CSS.  
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>