<div>
    <div class="project-name">
        Rails Cheater
    </div>
    <a target="_blank" href="https://github.com/Keenan144" class="portfolio-box">
        <img src="img/portfolio/currentProjects/blackCodeLQblue.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Ruby/ Rails
                </div>
                <div class="text-faded">
                    <p style="color:black">
                        This is an index of helpful Ruby methods and examples, along with some rails tips and tricks.
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>