<div>
    <div class="project-name">
        Toggle
    </div>
    <a target="_blank" href="https://github.com/Keenan144/ChronosKit" class="portfolio-box">
        <img src="img/portfolio/currentProjects/blackPhoneAndComputerblue.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Rails/ Angularjs + Ionic
                </div>
                <div class="text-faded">
                    <p style="color:black">
                        My own take on a decoupled cross platform dating app.  
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>