// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { 
  background-color: black;
}

.min-about {
  background-color: #1D7874;
}
#min-contact {
  /*background-color: #F4C095;*/
  background-color: #558C89;
  /*background-color: white;*/
}
#min-portfolio {
  background-color: #071E22;
  /*background-color: #ECECEA;*/
}
#min-services {
  background-color: white;
  /*background-color: #74AFAD;*/
}