<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Keenan Sturtevant</h1>
      <hr class="black">
      <p><h3>Junior Full-Stack Rails developer</h3> <small>current seeking full time opportunities</small></p>
      <a href="#min-projects" class="btn btn-default btn-lg page-scroll wow tada">My Creations</a>
    </div>
  </div>
</header>