<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="title-name">Keenan Sturtevant</div>
      <hr class="black">
      <div class="my-title">Junior Full-Stack Rails developer</div>
      <a href="#min-portfolio" class="btn btn-default btn-lg page-scroll wow tada">My Creations</a>
    </div>
  </div>
</header>